
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    background-color:cadetblue
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid saddlebrown;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
#cabecera {
    padding: 20%;
    border: 0ex;
    background-color: blue;
}